@import '../../style/colors.scss';

.Aside {
  display: flex;
  flex-direction: column;
  flex-wrap:  nowrap;
  flex-basis: 300px;
  align-items: flex-start;
  height: 100%;
  min-height: 100%;

  color: $fontColor;
  padding-left: 1em;
  // border: 1px solid white;
  border-left: 1px solid rgba(255,255,255,0.1);
  margin-left: 2em;

}


@media (max-width: 700px) {
  .Aside {
    display: none;
  }
}
