@import '../../style/colors.scss';

.Home {
  display: flex;
  flex-direction: column;
  flex-wrap:  nowrap;
  flex: 1;
  align-items: flex-start;
  height: 100%;
  padding-bottom: 200px;
}

.contentWrap {
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
  height: auto;
  min-height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.main {
  flex: 1;
}
