@import '../../style/colors.scss';

.Home {
  display: flex;
  flex-direction: column;
  flex-wrap:  nowrap;
  flex: 1;
  align-items: flex-start;
  height: 100%;
}

.contentWrap {
  display: flex;
  flex-flow: row wrap;
  // border: 1px solid red;
  padding: 1em;
  height: 100%;

  max-width: 1000px;
  margin: 0 auto;
}


.main {
  // border: 1px solid yellow;
  flex: 1;
  // margin-right: 1em;
}

// @media (min-width: 700px) {
//   .main {
//     padding: 1em;
//   }
// }
