@import '../../style/colors.scss';

.ArticleFeature {
  // border: 2px solid yellow;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0,0,0,0.2);
}

.blue {
  background: linear-gradient(320deg, darken($blue, 30%), darken($dkBlue, 10%) 90%);
  opacity: 0.95;

  > h1 {
    color: $mdRed;
  }
}
